<!DOCTYPE html>
<html>
<head>
  <title>Dogrescue Admin</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding: 60px;">
	
	<% # Only show the top bar if logged in %>
	<% if @current_user %>
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container">
				<h3><a href="/admin">Dog Rescue</a></h3>
				<ul class="nav">
					<li><a href="/admin/dogs">Dogs</a></li>
					<li><a href="/admin/users">Users</a></li>
				</ul>
				<ul class="nav" style="float: right;">
					<li><%= link_to 'Logout', admin_logout_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="container">
		
		<div class="row">
			<div class="span16">
				<%= yield %>
			</div>
		</div>
		
	</div>

</body>
</html>
